.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    height: 50px;
    background-color: rgb(193, 190, 255);
    padding-right: 50px;
    padding-left: 50px;
    box-shadow: 0 5px 5px #778899;
    color: #fff;

}